* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

/* Navbar */

.navbar {
    background-color: #A2D2FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo {
    max-width: 100px;
    height: auto;
}

nav li {
    margin-left: 20px;
}

nav {
    font-size: 1.2em;
}

nav a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

/* Hero Section */

.hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#A2D2FF, #FFC8DD);
    padding: 50px 0;
}

.img_self {
    max-width: 300px;
    height: auto;
    margin: 10px;
    box-shadow: 1em .4em 5px #bde0fe, -1em -.3em 5px #ffafcc;
}

/* Skills */

/* Container styles */
.scrolling-text-container {
    background-color: #eff5ff;
    border-radius: 4px;
    overflow: hidden;
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
}

/* Text styles */
.scrolling-text {
    display: flex;
}

.scrolling-text-item {
    padding: 0 30px;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

/* Pause the animation when a user hovers over it */
.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Media Queries */
@media (min-width: 768px) {
    .logo {
        max-width: 130px;
    }

    nav ul {
        display: flex;
    }
}

@media (min-width: 1024px) {
    .logo {
        max-width: 170px;
    }
}

@media (min-width: 1440px) {
    .logo {
        max-width: 200px;
    }
}

@media (min-width: 2560px) {
    .logo {
        max-width: 230px;
    }

    nav,
    h1,
    h2 {
        font-size: 2em;
    }
}