@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: "Lato", sans-serif;
}

body {
    background: linear-gradient(#A2D2FF, #FFC8DD, #FFAFCC, #CDB4DB, #A2D2FF);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navbar */

.navbar {
    background-color: #A2D2FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo {
    max-width: 100px;
    height: auto;
}

nav li {
    margin-left: 20px;
}

nav {
    font-size: 1.2em;
}

nav a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

/* Hero Section */

.hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.card-group,
.card {
    aspect-ratio: 5 / 7;
}

.card-group,
.big-card {
    width: 30vmin;
}

.card {
    position: absolute;
    transition: transform 800ms cubic-bezier(.05, .43, .25, .95);
}

.big-card {
    width: 30vmin;
    border-radius: 1vmin;
}

.little-card {
    width: 6vmin;
    border-radius: 2vmin;
    transform: translate(100%, 100%);
}

.big-card:nth-child(4) {
    background-image: url("./img/bild_1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-10%) rotate(-1deg);
}

.big-card:nth-child(2) {
    background-image: url("./img/bild_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(2deg);
}

.big-card:nth-child(3) {
    background-image: url("./img/bild_3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(1) {
    background-image: url("./img/bild_4.webp");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-10%, 3%) rotate(5deg);
}

.card-group:hover>.big-card:nth-child(4) {
    background-image: url("./img/bild_1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-150%, 16%) rotate(-24deg);
}

.card-group:hover>.big-card:nth-child(2) {
    background-image: url("./img/bild_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: translate(-50%, 0%) rotate(-8deg);
}

.card-group:hover>.big-card:nth-child(3) {
    background-image: url("./img/bild_3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(50%, 0%) rotate(8deg);
}

.card-group:hover>.big-card:nth-child(1) {
    background-image: url("./img/bild_6.webp");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(150%, 16%) rotate(24deg);
}

.introduction {
    margin-top: 10%;
    text-align: center;
}

.animated-text {
    font-size: x-large;
    font-weight: bold;
    background: linear-gradient(90deg, #ff6ec4, #7873f5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-animation 20s ease-in-out infinite;
}

.animated-subtext {
    font-size: 1.5em;
    font-weight: normal;
    color: #333;
    opacity: 0;
    animation: subtext-animation 2s ease-in-out forwards 2s;
}

@keyframes subtext-animation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Skills */

/* Container styles */
.scrolling-text-container {
    background-color: #eff5ff;
    border-radius: 4px;
    overflow: hidden;
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
}

/* Text styles */
.scrolling-text {
    display: flex;
}

.scrolling-text-item {
    padding: 0 30px;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

/* Pause the animation when a user hovers over it */
.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* About Me */

#about_me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.about_me_text h2 {
    text-align: center;
    margin-bottom: 5px;
}

.about_me_text {
    width: 100%;
    padding: 30px;
    font-size: larger;
}

.img_self {
    width: 100%;
    height: auto;
    margin: 10px;
    box-shadow: 1em .4em 5px #bde0fe, -1em -.3em 5px #ffafcc;
}

.email {
    text-align: center;
}

.email:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

/* Projects */

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    width: fit-content;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(0);
    transition: filter 0.5s;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: stabilize 1s forwards;
}

.slide-text {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: x-small;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}


@keyframes disintegrate {
    0% {
        filter: none;
        transform: none;
    }

    100% {
        filter: blur(10px);
        transform: translateY(50px);
        opacity: 0;
    }
}

@keyframes stabilize {
    0% {
        filter: blur(10px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        filter: none;
        transform: none;
        opacity: 1;
    }
}

.link-grp {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 30%;
    min-width: 300px;
    max-width: 500px;
}

.btn-link {
    background-color: #cdb4db;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 0 10px 2px;
    margin: 10px;
}

.btn-link:hover {
    background-color: #ffafcc;
}

/* Media Queries */
@media (min-width: 768px) {
    .logo {
        max-width: 130px;
    }

    nav ul {
        display: flex;
    }

    #about_me {
        flex-direction: row;
    }

    .about_me_text {
        width: 50%;
        padding: 50px;
        font-size: smaller;
    }

    .img_self {
        width: 50%;
    }

    .slide {
        flex-direction: row;
    }
    
    .slide img {
        width: 50%;
    }
    
    .slide-text {
        width: 50%;
        font-size: large;
    }

    .animated-text {
        font-size: xx-large;
    }

}

@media (min-width: 1024px) {
    .logo {
        max-width: 170px;
    }

    .about_me_text {
        font-size: medium;
    }
   
}

@media (min-width: 1440px) {
    .logo {
        max-width: 200px;
    }

    .about_me_text {
        font-size: x-large;
    }
}

@media (min-width: 2560px) {
    .logo {
        max-width: 230px;
    }

    nav,
    .animated-text,
    .animated-subtext {
        font-size: xxx-large;
    }

    .about_me_text {
        font-size: xx-large;
    }
}